/1_vazifa.ipynb
/2_dars.ipynb
/2_vazifa.ipynb
/chatbot_image.webp
/faiss_index
/interpretation-of-full-blood-count-parameters-in-health-and-disease.pdf
/Project_8.ipynb
/rag-paper.pdf
/RAG_1_dars.ipynb
/requirements.txt
/response.pdf